* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.common-container-style {
    max-width: 80%;
    margin: auto;
}

/* img {
    width: 100%;
    height: 100%;
} */

.common-btn {
    padding: 10px 25px;
    border: none;
    color: white;
    background-color: #1D4ED8;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.common-outline-btn-variant-1 {
    padding: 10px 25px;
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.common-outline-btn-variant-2 {
    padding: 10px 25px;
    border: 1px solid #1D4ED8;
    color: #1D4ED8;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

/* navbar css */

.nav {
    background-color: rgb(235, 248, 250);
    padding: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-container ul li a {
    text-decoration: none;
    color: #575757;
    font-size: 18px;
}

/* hero section css */

.hero-section {
    height: 70vh;
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #050505;
    opacity: 50%;
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;

}

.hero-content h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

.hero-content p {
    padding: 10px;
    font-weight: lighter;
}

.hero-content button {
    margin-top: 250px;
    font-size: 20px;
}

/* Meet the Speakers section */

.meet-the-speakers-section>h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.meet-the-speakers-section {
    margin-top: 30px;
    margin-bottom: 30px;
}


.speaker {
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    overflow: hidden;
}

.speaker-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    display: block;
    width: 100%;
}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.speaker-description {
    margin: 20px;
}

.speaker-description h4 {
    margin-bottom: 10px;
    font-size: 12px;
    color: #1D4ED8;
    font-weight: 400;
}

.speaker-description h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.speaker-description p {
    color: #575757;
    font-weight: 300;
    font-size: 12px;
}

/* Secure Your Spot css */

.secure-your-spot-section {
    margin-top: 40px;
    padding: 30px;
}

.secure-your-spot-section-header {
    text-align: center;
    margin-bottom: 40px;
}

.secure-your-spot-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.secure-your-spot-section p {
    color: #575757;
    font-size: 16px;
    font-weight: 300;
}

.pricing-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 40px;
    padding: 30px;
}

.pricing-card {
    background-color: #F8F9FB;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
}

.pricing-card h4 {
    color: #575757;
    opacity: 50%;
    margin-bottom: 5px;
}

.pricing-card h2 {
    font-size: 44px;
}

.pricing-card p {
    margin-top: 5px;
}

.pricing-card-button {
    width: 100%;
}

.pricing-card hr {
    border: none;
    border-top: 1px solid #E5E7EB;
    margin-top: 30px;
}

.benefits-list {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.benefits-list li::marker {
    color: #1D4ED8;
    line-height: 3.5;
}

/* card 2 special css */

.card2 {
    background-color: #0D1B2A;
}

.card2 h2 {
    color: white;
}

.card2 h4 {
    color: #93C5FD;
    opacity: 100%;
    font-weight: 400;
}

.card2 ul li {
    color: rgb(255 255 255 / 80%);
    font-weight: 300;
}

.card2 .benefits-list li::marker {
    color: #60A5FA;
}

.card2 p {
    color: #FFFFFF;
    opacity: 50%;
}

.card2 hr {
    opacity: 20%;
}


/* sponsors section */

.sponsors-section {
    padding: 40px;
    background-color: rgb(235, 248, 250);

}

.sponsor-container span {
    background-color: #1D4ED8;
    color: white;
    border: 1px solid #E5E7EB;
    padding: 8px;
    font-size: 10px;
    border-radius: 20px;
}

.sponsor-container {
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.sponsor-container h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 44px;
}

.sponsor-container p {
    padding: 50px;
    font-size: 20px;
}

.sponsors-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 10px;
}

.sponsor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.sponsor {
    border: 2px solid #d1dbf6;
    border-radius: 10px;
}

.sponsor:hover {
    box-shadow: 2px 2px 8px gray;
    border: none;
}


/* Footer css */

footer {
    background-color: #0D1B2A;
    padding: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.icons {
    color: white;
    font-size: 25px;
}

.icons-container {
    display: flex;
    gap: 65px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright-text {
    margin-top: 5px;
    color: white;
    margin-bottom: 10px;
}

footer hr {
    opacity: 50%;
}

.policies {
    margin-top: 15px !important;
    color: white;
}