* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.common-container-style {
    max-width: 80%;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
}

.common-btn {
    padding: 10px 25px;
    border: none;
    color: white;
    background-color: #1D4ED8;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* navbar css */

.nav {
    background-color: rgb(235, 248, 250);
    padding: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-container ul li a {
    text-decoration: none;
    color: #575757;
    font-size: 18px;
}

/* hero section css */

.hero-section {
    height: 70vh;
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #050505;
    opacity: 50%;
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
}

.hero-content h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.hero-content p {
    padding: 10px;
}

.hero-content button {
    margin-top: 250px;
    font-size: 20px;
}